@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Assignments" asp-action="GetAllAssignments">Assignments</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Roles" asp-action="GetAllRoles">Roles</a>
    </li>
}
