@{
    ViewData["Title"] = "Access Denied";
}

<div class="d-flex justify-content-center align-items-center">
    <div class="text-center">
        <h2>Access Denied</h2>
        <p>You do not have permission to view this resource.</p>
        <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Home</a>
    </div>
</div>
