@{
    ViewData["Title"] = "Access Denied";
}

<div class="d-flex justify-content-center align-items-center">
    <div class="text-center">
        <h2 class="text-danger">Access Denied</h2>
        <p>You do not have permission to view this resource.</p>
        <a asp-controller="Home" asp-action="Index" class="btn btn-outline-primary">Home</a>
    </div>
</div>
